
/* main */

.main-section {
    text-align: center;
}

.profile-pic img{
    width: 250px;
    height: 250px;
    border-radius: 999px;
    border: 1px solid black;
}

/* footer */

footer {
    position: absolute;
    z-index: -1;
    bottom: 0;
}
