/* Canvas */

.main-canvas {
    width: 30vw;
    border: 1px solid white;
}

/* Buttons & Inputs */

input::placeholder {
    color: black;
    opacity: .4;
}

input:focus,
button:focus {
    outline: none;
}

.prefs {
    margin-left: 100px;
}

.prefs input {
    /* height: 40px; */
    font-size: 1.2em;
    text-align: center;
}

.hamburger-btn {
    font-size: 1.3em;
}

.btn-container {
    margin-top: 20px;
}

.manipulate-btn {
    padding: 10px;
    cursor: pointer;
}

.manipulate-btn img {
    width: 40px;
    height: 40px;
}

.dl-btn {
    display: flex;
    justify-content: center;
}

.desktop-header {
    display: flex;
}

.mobile-header {
    display: none;
}

a.manipulate-btn {
    text-decoration: none;
    color: black;
}
a.manipulate-btn:hover {
    color:white;
}

/* Media queries */

@media(max-width:700px) {
    .meme-editor {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .main-canvas {
        width: 50vw;
    }

    .prefs {
        margin: 1em;
    }

    .search-box img {
        display: none;
    }

    .header-nav, .header-nav a {
        margin-right: 10px;
    }

    .local-save {
        display: none;
    }
}


/* Footer */

footer {
    margin-top: 15px;
}