/* Buttons & Inputs */

input::placeholder {
    color: black;
    opacity: .4;
}

input:focus,
button:focus {
    outline: none;
}

.prefs input {
    height: 40px;
    text-align: center;
}

.btn-container {
    margin-top: 20px;
}

.manipulate-btn {
    padding: 10px;
    cursor: pointer;
}

.manipulate-btn img {
    width: 40px;
    height: 40px;
}

/* Footer fix */

footer {
    position: fixed;
    bottom: 0;
}