/* Base */

body {
    margin: 0;
    padding: 0;
}

/* Header */

/* Main */

.meme-editor {
    margin-top: 40px;
}

.image-gallery {
    margin: 5px;
}

.image-gallery img {
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.image-gallery img:not(:last-child) {
    margin-right: 5px;
}


/* Buttons and Inputs */

input {
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border: 1px solid darkmagenta;
}

input::placeholder {
    color: black;
    opacity: .4;
}

input:focus,
button:focus {
    outline: none;
}

.prefs input {
    height: 40px;
    text-align: center;
}

.btn-container {
    margin-top: 20px;
}

.manipulate-btn {
    padding: 10px;
    cursor: pointer;
}

.manipulate-btn img {
    width: 40px;
    height: 40px;
}

/* Helpers */

.ml100 {
    margin-left: 100px;
}

.flex {
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.grid {
    display: grid;
}

.object-fit {
    object-fit: cover;
}