/* Fonts */

@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Arimo';
    src: url(../fonts/Arimo-Bold.ttf);
}

/* Base */

body {
    margin: 0;
    padding: 0;
    background-color: #9852f9;
}

/* Header */

header {
    width: 100%;
    position: sticky;
    top: 0;
    height: 61px;
    background-color: #9852f9;
}

.desktop-header {
    display: flex;
}

.mobile-header {
    display: none;
}

.hamburger-btn {
    font-size: 1.3em;
}

.search-box img {
    width: 15px;
    height: 15px;
    opacity: .6;
}

.search-box input {
    outline: none;
    text-align: center;
}

.header-nav-mobile a,
.header-nav a {
    margin-right: 30px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: .1s;
}

.header-nav a:hover {
    box-shadow: 0 4px 0px 0px #ffd739;
}

.logo {
    margin-left: 20px;
}

/* Main */

input {
    border-radius: 12px;
    border: none;
    cursor: pointer;
    padding: 7px;
    border: 1px solid black;
}

.meme-editor {
    margin-top: 40px;
}

.image-gallery {
    grid-template-columns: repeat(auto-fit, 205px);
    gap: 15px;
    justify-content: center;
}

.image-gallery:nth-last-child(-n+5) {
    margin-bottom: 5px;
}

.gallery-item {
    border-radius: 999px;
    border: 1px solid white;
    border-bottom: 0;
    transition: .2s;
}

.gallery-item:hover {
    box-shadow: 0 4px 1px 0px #ffd739;
}

.image-gallery img {
    cursor: pointer;
    width: 200px;
    height: 200px;
}

@media(max-width:700px) {
    .search-box img {
        display: none;
    }

    .header-nav {
        margin-right: 10px;
    }
}

/* Footer */

footer {
    width: 100%;
    text-align: center;
    font-weight: 600;
    background-color: #9852f9;
    color: #ffd739;
    margin-top: 15px;
}

/* Helpers */

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


.flex-self-end {
    justify-content: flex-end;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.self-center {
    justify-self: center;
}

.justify-end {
    justify-content: flex-end;
    margin-right: 30px;
}

.block {
    display: block;
}

.align-center {
    align-items: center;
}

.grid {
    display: grid;
}

.grid-col {
    display: grid;
}

.ml100 {
    margin-left: 100px;
}

.hidden {
    display: none;
}

.object-fit {
    object-fit: contain;
}